.mui-bar{top: 0;background: linear-gradient(to right, #11b57c , #0eb27b);-webkit-box-shadow: 0 1px 6px #ccc;box-shadow: 0 1px 6px #ccc;}
.mui-bar-nav .mui-title{color: white;}
.mui-icon-back:before, .mui-icon-left-nav:before {color: white;}
#find .find_view_cell{
	padding-right: 15px;
	padding-left: 15px;
}
#find .find_view_cell>a:not(.mui-btn){margin-right: -15px; }
#find .find_view_cell img{display: block; width: 100%;}
.mui-navigate-right:after, .mui-push-right:after {
    right: 15px;
    content: '';
}
.mui-scroll-wrapper{overflow:inherit ;}
#find .index_time_p2{
	position: absolute;
    top: 56px;
    left: 15px;
    line-height: 27px;
}
#find .index_time_bu1{
	border: none;
	background: #10b47b;
	color: white;
	text-align: center;
    width: 35px;
    border-radius: 35px;
    height: 27px;
    text-indent: -2px;
}
